@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.scren-inicial{
    background-color:  #5D94FB ;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.nuvem-1{
    position: absolute;
     height: 7vw;
     top:3vh;
     right: -250px;
     overflow: hidden;
     animation: nuvem-1 35s linear  infinite ;
}
.nuvem-2{
    position: absolute;
    height: 7vw;
    top:5vh;
    right: -250px;
    overflow: hidden;
    animation: nuvem-2 35s  linear 4s  infinite;
}
.nuvem-3{
    position: absolute;
    height: 7vw;
    right: -250px;
    overflow: hidden;
    top:4vh;
    animation: nuvem-3 35s linear 15s infinite;
}
.nuvem-4{
    position: absolute;
    height: 7vw;
    right: -250px;
    top:3vh;
    overflow: hidden;
    animation: nuvem-4 35s  linear 25s infinite;
}
@keyframes  nuvem-1  {
    from {
        right: -200px;
    }
    to {
        right: 100%;
    }
}
@keyframes  nuvem-2  {
    from {
        right: -200px;
    }
    to {
        right: 100%;
    }
}

@keyframes  nuvem-3 {
    from {
        right: -200px;
    }
    to {
        right: 100%;
    }
}
@keyframes  nuvem-4  {
    from {
        right: -200px;
    }
    to {
        right: 100%;
    }
}
.ground{
    position:absolute;
    bottom: 0;
    width: 100vw;
    left: 0;
    z-index: 2;
}
.bushes-3{
    position: absolute;
    height: 10vw;
    left:0;
    bottom:7vw;
}
.bushes-1{
    position: absolute;
    height: 5vw;
    right: 3vw;
    bottom:7vw;
}
.bushes-2{
    position: absolute;
    height: 5vw;
    left:30%;
    bottom:7vw;
}
.gif-goomba{
    height:6vw;
    position:absolute;
    bottom:5.7vw;
    right:0;
    animation: goomba 35s  linear  infinite  alternate;
    z-index: 2;
}
@keyframes goomba{
    from {
        right: -20px;
    }
    to {
        right: 98%;
    }
}
.bloco-flutuante-sozinho-cima{
    position: absolute;
    height: 5.8vw;
    right: 10vw;
    bottom: 24vw;
}
.bloco-flutuante-sozinho-baixo{
    position: absolute;
    height: 5.8vw;
    right: 26vw;
    bottom: 13.6vw;
}
.bloco-futuante-grupo{
    position: absolute;
    height: 3vw;
    bottom: 15vw;
    right: 5vw;
}
.gif-gomba-block{
    height:6vw;
    position:absolute;
    bottom:26.7vw;
    right:9.8vw;
    z-index: 2;
}
.container-header{
    position: absolute;
    bottom:280px;
    width:100vw;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.child-title{
    font-family: 'Press Start 2P', cursive;
   font-weight: 800;
    color: white;
    font-size: 20px;
}
.child-text{
    padding-top: 20px;
    font-family: 'Press Start 2P', cursive;
    font-weight: 600;
     color: white;
     font-size: 20px;
}
.container-subterraneo{
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 15, 15);
    position: relative;
}
.Chão-subterraneo{
    position: absolute;
    bottom:0;
    width: 100vw;
    z-index: 1;
}
.bloco-cima{
    position: absolute;
    top: 5vw;
   width: 100vw;
}
.cano-meio{
    position: absolute;
    height: 5vw;
    width: 5vw;
    bottom: 7vw;
    left: 90vw;
    z-index: 1;
}
.cano-menor{
    position: absolute;
    height: 5.5vw;
    bottom: 7vw;
    left:48.8vw;
    z-index: 1;
}
.cano-meio-2{
    position: absolute;
    height: 5vw;
    bottom: 7vw;  
    width: 5vw;
    left: 5vw;
    z-index: 1;
}
.cocumelo{
    height:4vw;
    position:absolute;
    top:1.4vw;
    right:0;
    animation: cocumelo 25s  linear  infinite  alternate;
    z-index:3;
}
@keyframes cocumelo{
    from {
        right: 98%;
    }
    to {
        right: -20px;
    }
}
.flower{
    width:3.7vw;
    height: 4.7vw;
    background-size: cover;
    animation: flor 6s infinite alternate;
    overflow: hidden;
    position: absolute;
    left:49.9vw;
}
.flower-1{
    width:3.7vw;
    height: 4.7vw;
    background-size: cover;
    animation: flor-1 6s infinite alternate;
    overflow: hidden;
    position: absolute;
    left:5.4vw;
}
.flower-2{
    width:3.7vw;
    height: 4.7vw;
    background-size: cover;
    animation: flor-2 6s infinite alternate;
    overflow: hidden;
    position: absolute;
    left:90.6vw;
}
@keyframes flor {
    0%, 15%, 20%, 45% {
      bottom:6vw;
    }
    55%, 63%, 70%, 77%, 85%, 93%{
      background-image: url('image-portifolio/flor-mv-3\ 1.png');
    }
    60%, 65%, 75%, 80%, 90%{
      background-image: url('image-portifolio/flor\ mv\ 2\ 1.png');
    }
  
    100%{
      background-image: url('image-portifolio/flor-mv-3\ 1.png');
      Bottom:11.4vw; 
    }
  }
  @keyframes flor-1 {
    0%, 15%, 20%, 45% {
      bottom:6vw;
    }
    55%, 63%, 70%, 77%, 85%, 93%{
      background-image: url('image-portifolio/flor-mv-3\ 1.png');
    }
    60%, 65%, 75%, 80%, 90%{
      background-image: url('image-portifolio/flor\ mv\ 2\ 1.png');
    }
    100%{
      background-image: url('image-portifolio/flor-mv-3\ 1.png');
      Bottom:12vw; 
    }
}
@keyframes flor-2 {
    0%, 15%, 20%, 45% {
      bottom:6vw;
    }
    55%, 63%, 70%, 77%, 85%, 93%{
      background-image: url('image-portifolio/flor-mv-3\ 1.png');
    }
    60%, 65%, 75%, 80%, 90%{
      background-image: url('image-portifolio/flor\ mv\ 2\ 1.png');
    }
    100%{
      background-image: url('image-portifolio/flor-mv-3\ 1.png');
      Bottom:12vw; 
    }
}
